<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="JsCss/jquery.js"></script>
        <link rel="stylesheet" href="JsCss/bootstrap.css">
        <link rel="stylesheet" href="JsCss/meucss.css">
        <title>Alterar</title>
    </head>
    <body>
        <div id="body"></div>
        <script src="JsCss/axios.js"></script>
        <script src="JsCss/vue.js"></script>
        <script>
            new Vue({
                el: '#body',
                template: `
<div class="container">
<div>
    <div class="form-group">
        <label>Codigo</label>
        <input type="number" v-on:keyup.enter="codigoSubmit" v-model="pesquisa.codigo" :class="{ 'form-control': backgrounds[0].isActive, 'is-invalid': backgrounds[0].hasError }" placeholder="Codigo">
    </div>
    <center><h2>OU</h2></center>
    <div class="form-group">
        <label>Nome</label>
        <input type="text" v-on:keyup.enter="nomeSubmit" v-model="pesquisa.nome" :class="{ 'form-control': backgrounds[1].isActive, 'is-invalid': backgrounds[1].hasError }" placeholder="Nome">
    </div>
</div>
<br><br>
<div v-if="contem">
    <center><h2>PRODUTO</h2></center>
    <div class="form-group">
    <label>Nome do produto</label>
    <input v-on:keyup.enter="finalizar()" type="text" v-model="item.nome" :class="{ 'form-control': backgrounds[2].isActive, 'is-invalid': backgrounds[2].hasError }" placeholder="Nome">
  </div>
  <div class="form-group">
    <label>Quantidade</label>
    <input v-on:keyup.enter="finalizar()" type="number" v-model="item.quantidade" :class="{ 'form-control': backgrounds[3].isActive, 'is-invalid': backgrounds[3].hasError }" placeholder="Quantidade de produtos">
  </div>
  <div class="form-group">
    <label>Quantidade minima</label>
    <input v-on:keyup.enter="finalizar()" type="number" v-model="item.minQuantidade" :class="{ 'form-control': backgrounds[4].isActive, 'is-invalid': backgrounds[4].hasError }" placeholder="Quantidade minima do produto">
  </div>
  <div class="form-group">
    <label>Preço</label>
    <input v-on:keyup.enter="finalizar()" type="number" v-model="item.preco" :class="{ 'form-control': backgrounds[5].isActive, 'is-invalid': backgrounds[5].hasError }" placeholder="000,00">
  </div>
  <center><button v-on:click="finalizar()" class="btn btn-primary">Alterar</button></center>
  <br><center><h2>{{mensagem}}</h2></center>
</div>
</div>
                `,
                data(){
                    return{
                        backgrounds:[
                            {
                            isActive: true,
                            hasError:false
                            },
                            {
                            isActive: true,
                            hasError:false
                            },
                            {
                            isActive: true,
                            hasError:false
                            },
                            {
                            isActive: true,
                            hasError:false
                            },
                            {
                            isActive: true,
                            hasError:false
                            },
                            {
                            isActive: true,
                            hasError:false
                            }
                        ]
                        ,
                        contem:false,
                        item:{
                            nome:'',
                            quantidade:'',
                            minQuantidade:'',
                            preco:''
                        },
                        pesquisa:{
                            codigo:'',
                            nome:''
                        },
                        mensagem:''
                        
                    }
                },
                methods:{
                    codigoSubmit(){
                        this.contem = false;
                        axios.get(`http://localhost:8080/tcc/get.php?codigo=${this.pesquisa.codigo}&funcionalidade=comprarcodigo`)
                        .then(response => {
                            if(response.data.mensagem == 'codigo encontrado'){
                                this.item = response.data;
                                this.contem = true;
                            }else{
                                alert(response.data.mensagem);
                            }
                        })
                    },
                    nomeSubmit(){
                        this.contem = false;
                        axios.get(`http://localhost:8080/tcc/get.php?nome=${this.pesquisa.nome}&funcionalidade=comprarnome`)
                        .then(response => {
                            if(response.data.mensagem == 'nome encontrado'){
                                this.item = response.data;
                                this.contem = true;
                            }else{
                                alert(response.data.mensagem);
                            }
                        })
                    },
                    finalizar(){
                        td = {"item":this.item,
                         "funcionalidade":'finalizaralteracao'
                         };
                        axios.post('http://localhost:8080/tcc/post.php',td)
                        .then(response => {
                            console.log(response);
                            this.mensagem = response.data;
                        })
                    }
                },
                updated () {
                }
            })
        </script>
    </body>
</html>
