<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="JsCss/jquery.js"></script>
        <link rel="stylesheet" href="JsCss/bootstrap.css">
        <link rel="stylesheet" href="JsCss/meucss.css">
        <title>Compra</title>
    </head>
    <body>
        <div id="body"></div>
        <script src="JsCss/axios.js"></script>
        <script src="JsCss/vue.js"></script>
        <script>
            new Vue({
                el: '#body',
                template: `
<div class="container">
    <div class="form-group">
        <label>Codigo</label>
        <input type="number" v-on:keyup.enter="codigoSubmit" v-model="pesquisa.codigo" :class="{ 'form-control': backgrounds[0].isActive, 'is-invalid': backgrounds[0].hasError }" placeholder="Codigo">
    </div>
    <center><h2>OU</h2></center>
    <div class="form-group">
        <label>Nome</label>
        <input type="text" v-on:keyup.enter="nomeSubmit" v-model="pesquisa.nome" :class="{ 'form-control': backgrounds[1].isActive, 'is-invalid': backgrounds[1].hasError }" placeholder="Nome">
    </div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table" v-if="(itens.length > 0)">
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Preço</th>
                <th scope="col">Deletar</th>
            </tr>
        </thead>
        <tbody>
            
                <tr v-for="(item, index) in itens">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.nome}}</td>
                    <td><img src="img/setaesquerda.png" style="cursor:pointer;" v-on:click="menos(index)">
                    </img>
                        {{item.qua}}
                        <img src="img/setadireita.png" style="cursor:pointer;" v-on:click="mais(index)">
                    </img>
                        </td>
                    <td>R$ {{(item.preco * item.qua).toFixed(2)}}</td>
                    <td>
                    <button class="btn btn-light" v-on:click="deleta(index)">
                    <img src="img/deleteicon.png">
                    </img>
                    </button>
                    </td>
                </tr>
        </tbody>
    </table>
</div>
<div class="form-group" v-if="(itens.length > 0)">
    <input type="number" v-model="pesquisa.troco" class="form-control" placeholder="Dinheiro dado">
</div>
    <div class="d-flex justify-content-around" v-if="(itens.length > 0)">
                    <th>Total: R$ {{parseFloat(final.total).toFixed(2)}}</th>
                    <th v-show="pesquisa.troco">Troco: R$ {{parseFloat(final.troco).toFixed(2)}}</th>
                    <button class="btn btn-primary" v-on:click="finalizar()">Finalizar</button>
                </div>
</div>
                `,
                data(){
                    return{
                        backgrounds:[
                            {
                            isActive: true,
                            hasError:false
                            },
                            {
                            isActive: true,
                            hasError:false
                            }
                        ]
                        ,
                        itens:[],
                        pesquisa:{
                            codigo:'',
                            nome:'',
                            troco:''
                        },
                        final:{
                            troco:'',
                            total:''
                        }
                        
                    }
                },
                methods:{
                    codigoSubmit(){
                        console.log(this.pesquisa.codigo);
                        axios.get(`http://localhost:8080/tcc/get.php?codigo=${this.pesquisa.codigo}&funcionalidade=comprarcodigo`)
                        .then(response => {
                            if(response.data.mensagem == 'codigo encontrado'){
                                a = this.itens.filter(num => num.id == response.data.id);
                                if(a.length == 0){
                                    response.data.qua = 1;
                                    this.itens.push(response.data);
                                }else{
                                    alert(response.data.nome+' ja inserido');
                                }
                            }else{
                                alert(response.data.mensagem);
                            }
                        })
                    },
                    nomeSubmit(){
                        console.log(this.pesquisa.nome);
                        axios.get(`http://localhost:8080/tcc/get.php?nome=${this.pesquisa.nome}&funcionalidade=comprarnome`)
                        .then(response => {
                            if(response.data.mensagem == 'nome encontrado'){
                                a = this.itens.filter(num => num.id == response.data.id);
                                if(a.length == 0){
                                    response.data.qua = 1;
                                    this.itens.push(response.data);
                                }else{
                                    alert(response.data.nome+' ja inserido');
                                }
                            }else{
                                alert(response.data.mensagem);
                            }
                        })
                    },
                    deleta(a){
                        this.itens.splice(a,1);
                    },
                    mais(a){
                        this.itens[a].qua += 1;
                    },
                    menos(a){
                        this.itens[a].qua -= 1;
                    },
                    totalf(){
                        if(this.itens.length > 0){
                            a = this.itens[0].qua * this.itens[0].preco;
                            for (let b = 1; b < this.itens.length; b++) {
                                a += this.itens[b].qua * this.itens[b].preco;
                            }
                            if(this.pesquisa.troco != ''){
                                this.final.troco = this.pesquisa.troco - a;  
                            }
                            else{
                                this.final.troco = '';
                            }
                            this.final.total = a;
                            
                        }
                    },
                    finalizar(){

                    }
                },
                updated () {
                    this.totalf();
                }
            })
        </script>
    </body>
</html>
