<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="JsCss/jquery.js"></script>
        <link rel="stylesheet" href="JsCss/bootstrap.css">
        <link rel="stylesheet" href="JsCss/exibicao.css">
        <title>Exibição</title>
    </head>
    <body>
        <div id="body"></div>
        <script src="JsCss/axios.js"></script>
        <script src="JsCss/vue.js"></script>
        <script>
            new Vue({
                el: '#body',
                template: `
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Adicionar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="compra.html">Comprar</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="exibicao.html">Estoque</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Historico de Compras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="alteracao.html">Alteração de produtos</a>
        </li>
      </ul>
    </div>
  </nav>
<center v-if="(itens.length > 0)">
        <input type="number"  class="pesquisa" v-model="codigo" placeholder="Codigo">
        <input type="text"  class="pesquisa" v-model="nome" placeholder="Nome">
        </center>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table" >
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Quantidade Minima</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Deletar</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr v-for="item in filterbar">
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.nome}}</td>
                        <td>
                            <img src="img/setaesquerda.png" style="cursor:pointer;" v-on:click="menosq(item.id)">
                            </img>
                            {{item.quantidade}}
                            <img src="img/setadireita.png" style="cursor:pointer;" v-on:click="maisq(item.id)">
                            </img>
                        </td>
                        <td>
                            <img src="img/setaesquerda.png" style="cursor:pointer;" v-on:click="menosm(item.id)">
                            </img>
                            {{item.minQuantidade}}
                            <img src="img/setadireita.png" style="cursor:pointer;" v-on:click="maism(item.id)">
                            </img>
                        </td>
                        <td>{{item.preco}}</td>
                        <td>
                            <button class="btn btn-light" v-on:click="deleta(item.id)">
                            <img src="img/deleteicon.png"/>
                            </button>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-around" v-if="(itens.length > 0)">
        <button class="btn btn-warning" v-on:click="atualizar()">Atualizar</button>
        <button class="btn btn-danger" v-on:click="resetar()">Recarregar</button>
    </div>
</div>
                `,
                data(){
                    return{
                        backgrounds:[],
                        itens:[],
                        codigo:'',
                        nome:'',
                        deletados:[],
                        mensagem:''
                    }
                },
                methods:{
                    filtrar(){
                    },
                    deleta(a){
                        b = this.itens.findIndex(i => i.id == a);
                        this.deletados.push(a);
                        console.log(this.deletados);
                        this.itens.splice(b,1);
                    },
                    maisq(a){
                        b = this.itens.findIndex(i => i.id == a);
                        this.itens[b].quantidade ++;
                    },
                    menosq(a){
                        b = this.itens.findIndex(i => i.id == a);
                        this.itens[b].quantidade -= 1;
                    },
                    maism(a){
                        b = this.itens.findIndex(i => i.id == a);
                        this.itens[b].minQuantidade ++;
                    },
                    menosm(a){
                        b = this.itens.findIndex(i => i.id == a);
                        this.itens[b].minQuantidade -= 1;
                    },
                    atualizar(){
                        if(this.deletados.length > 0){
                            if(this.deletados.length > 1){
                                if(confirm('deseja mesmo deletar alguns itens?') == true){
                                    td = {"itens":this.itens,
                                        "deletados":this.deletados,
                                        "funcionalidade":'alterareexcluir'
                                    };
                                    axios.post('http://localhost:8080/tcc/post.php',td)
                                    .then(response => {
                                        alert(response.data);
                                        location.reload();
                                    });
                                }
                            }
                            else{
                                if(confirm('deseja mesmo deletar um item?') == true){
                                    td = {"itens":this.itens,
                                        "deletados":this.deletados,
                                        "funcionalidade":'alterareexcluir'
                                    };
                                    axios.post('http://localhost:8080/tcc/post.php',td)
                                    .then(response => {
                                        alert(response.data);
                                        location.reload();
                                    });
                                }
                            }
                            
                        }
                        else{
                            td = {"itens":this.itens,
                                        "deletados":this.deletados,
                                        "funcionalidade":'alterareexcluir'
                                    };
                                    axios.post('http://localhost:8080/tcc/post.php',td)
                                    .then(response => {
                                        alert(response.data);
                                    location.reload();
                                    });
                        }
                    },
                    resetar(){
                        location.reload();
                    }
                },
                mounted () {
                    axios.get(`http://localhost:8080/tcc/get.php?funcionalidade=selectall`)
                    .then(response => {
                        this.itens = response.data;
                    })
                },
                computed:{
                    filterbar(){
                        if(this.codigo != ''){
                            return this.itens.filter((itens) => {
                                return itens.id == this.codigo && itens.nome.match(this.nome);
                            })
                        }
                        return this.itens.filter((itens) => {
                            return itens.nome.match(this.nome);
                        });
                    }
                }
            })
        </script>
    </body>
</html>
