<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="JsCss/jquery.js"></script>
        <link rel="stylesheet" href="JsCss/bootstrap.css">
        <link rel="stylesheet" href="JsCss/exibicao.css">
        <title>Historico De Compras</title>
    </head>
    <body class="body">
        <div id="body"></div>
        <script src="JsCss/axios.js"></script>
        <script src="JsCss/vue.js"></script>
        <script>
            new Vue({
                el: '#body',
                template: `
<div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#"><img src="img/icone.png"></a>
			<div class="container">
        <div class="row">
          <div class="col">
				  <a class="nav-link" href="index.html" title="Adicionar">
          <center>
					<div class="containerimg">
						<img src="img/add.png" width="80%" height="100%">
					</div>
          </center>
				  </a>
				</div>
				<div class="col">
					<a class="nav-link" href="compra.html" title="Comprar">
          <center>
            <div class="containerimg">
              <img src="img/comprar.png" width="40%" height="100%">
            </div>
          </center>
					</a>
				</div>
				<div class="col">
					<a class="nav-link" href="exibicao.html" title="Estoque">
            <center>
              <div class="containerimg">
                <img src="img/stock.png" width="40%" height="100%">
              </div>
            </center>
					</a>
				</div>
				<div class="col">
					<a class="nav-link ativado" href="historicoCompra.html" title="Histórico de Compras">
            <center>
              <div class="containerimg">
                <img src="img/historico.png" width="40%" height="100%">
              </div>
            </center>
					</a>
				</div>
				<div class="col">
					<a class="nav-link" href="alteracao.html" title="Alteração de produtos">
            <center>
              <div class="containerimg">
                <img src="img/alterar.png" width="40%" height="100%">
              </div>
            </center>
					</a>
				</div>
			  </div>
			</div>
  </nav>
  <div class="container bodyy">
    <br>
<center v-if="(historicos.length > 0)">
        <input type="number" class="pesquisa" v-model="codigo" placeholder="Codigo">
        <input type="text" class="pesquisa" v-model="nome" placeholder="Nome">
        <input type="date" class="pesquisa" v-model="data" placeholder="Data">
        </center>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table" v-if="(historicos.length > 0)">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Quantidades comprada</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Data</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr v-for="historico in filterbar">
                        <th scope="row">{{historico.id}}</th>
                        <td>{{historico.nome}}</td>
                        <td>{{historico.vezescomprado}}</td>
                        <td>{{historico.preco}}</td>
                        <td>{{databr(historico.data)}}</td>
                    </tr>
            </tbody>
        </table>
        <center v-else><h2>Nenhum Resultado</h2></center>
    </div>
</div>
</div>
                `,
                data(){
                    return{
                        historicos:[],
                        codigo:'',
                        nome:'',
                        data:''
                    }
                },
                methods:{
                    databr(a){
                        a = a.split("-");
                        a = a.reverse();
                        a = a[0]+'/'+a[1]+'/'+a[2];
                        return a;
                    }
                },
                mounted () {
                    axios.get(`http://localhost:8080/tcc/get.php?funcionalidade=selectallhistorico`)
                    .then(response => {
                        this.historicos = response.data;
                    })
                },
                computed:{
                    filterbar(){
                        if(this.codigo != '' && this.data != ''){
                            return this.historicos.filter((historicos) => {
                                semcriatividade = historicos.nome.toUpperCase();
                                return historicos.id == this.codigo && semcriatividade.match(this.nome.toUpperCase()) && historicos.data == this.data;
                            })
                        }
                        if(this.codigo != ''){
                            return this.historicos.filter((historicos) => {
                                semcriatividade = historicos.nome.toUpperCase();
                                return historicos.id == this.codigo && semcriatividade.match(this.nome.toUpperCase());
                            })
                        }
                        if(this.data != ''){
                            return this.historicos.filter((historicos) => {
                                semcriatividade = historicos.nome.toUpperCase();
                                return historicos.data == this.data && semcriatividade.match(this.nome.toUpperCase());
                            })
                        }
                        return this.historicos.filter((historicos) => {
                            semcriatividade = historicos.nome.toUpperCase();
                            return semcriatividade.match(this.nome.toUpperCase());
                        });
                    }
                }
            })
        </script>
    </body>
</html>
