<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="JsCss/jquery.js"></script>
        <link rel="stylesheet" href="JsCss/bootstrap.css">
        <title>Adicionar</title>
    </head>
    <body>
        <div id="body"></div>
        <script src="JsCss/axios.js"></script>
        <script src="JsCss/vue.js"></script>
        <script>
            new Vue({
                el: '#body',
                template: `
                <div class="container">


  <div class="form-group">
    <label>Nome do produto</label>
    <input v-on:keyup.enter="mandar()" type="text" v-model="td.nome" :class="{ 'form-control': backgrounds[0].isActive, 'is-invalid': backgrounds[0].hasError }" placeholder="Nome">
  </div>
  <div class="form-group">
    <label>Quantidade</label>
    <input v-on:keyup.enter="mandar()" type="number" v-model="td.quantidade" :class="{ 'form-control': backgrounds[1].isActive, 'is-invalid': backgrounds[1].hasError }" placeholder="Quantidade de produtos">
  </div>
  <div class="form-group">
    <label>Quantidade minima</label>
    <input v-on:keyup.enter="mandar()" type="number" v-model="td.quantidadem" :class="{ 'form-control': backgrounds[2].isActive, 'is-invalid': backgrounds[2].hasError }" placeholder="Quantidade minima do produto">
  </div>
  <div class="form-group">
    <label>Preço</label>
    <input v-on:keyup.enter="mandar()" type="number" v-model="td.preco" :class="{ 'form-control': backgrounds[4].isActive, 'is-invalid': backgrounds[4].hasError }" placeholder="000,00">
  </div>
  <center><button v-on:click="mandar()" class="btn btn-primary">Adicionar</button></center>
  <br><center><h2>{{mensagem}}</h2></center>
</div>
                `,
                data(){
                    return{
                            mensagem:'',
                           checked: false,
                           backgrounds:[{isActive: true,
                            hasError:false}
                             ,
                             {
                               isActive: true,
                              hasError:false
                            },
                            {
                              isActive: true,
                              hasError:false
                            },
                            { 
                              isActive: true,
                              hasError:false
                            },
                            {
                              isActive: true,
                              hasError:false
                            }
                           ],
                           td:{
                            nome:'',
                            quantidade:'',
                            quantidadem:'',
                            preco: '',
                            funcionalidade: ''
                           }
                    }
                },
                methods:{
                    mandar(){
                      erro = false;
                      //nome
                      if(this.td.nome == ''){
                        this.backgrounds[0].hasError = true;
                        erro = true;
                      }else{
                        this.backgrounds[0].hasError = false;
                      }

                      //quantidade
                      if(this.td.quantidade == ''){
                        this.backgrounds[1].hasError = true;
                        erro = true;
                      }else{
                        this.backgrounds[1].hasError = false;
                      }

                      //quantidade minima
                      if(this.td.quantidadem == ''){
                        this.backgrounds[2].hasError = true;
                        erro = true;
                      }else{
                        this.backgrounds[2].hasError = false;
                      }
                      //preço
                      if(this.td.preco == ''){
                        this.backgrounds[4].hasError = true;
                        erro = true;
                      }else{
                        this.backgrounds[4].hasError = false;
                      }

                      if(erro == false){
                        this.td.funcionalidade = 'cadastrar';
						axios.post('http://localhost:8080/tcc/post.php',this.td)
            .then(response => {
              alert(response.data);
              location.reload();
              this.td.funcionalidade = '';
            })
						.catch(e => {})
            }
            }
                },
                mounted () {
                    
                }
            })
        </script>
    </body>
</html>
