<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="perfil.css">
        <title>invocador</title>
    </head>
    <body>
        <div id="body"></div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            new Vue({
                el: '#body',
                template: `
                <div class="container">

                <form>
  <div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control" placeholder="Nome">
  </div>
  <div class="form-group">
    <label>Unidade de medida</label>
    <input type="number" class="form-control" placeholder="(gramas/litros)">
  </div>
  <div class="form-group">
    <label>Valor unitário</label>
    <input type="text" class="form-control" placeholder="Quantidade">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" v-model="checked" class="form-check-input">
    <label class="form-check-label" for="exampleCheck1">Vencimento</label>
  </div>
  <div class="form-group" v-if="checked">
    <input type="date" class="form-control" placeholder="Data">
  </div>
  <button type="submit" class="btn btn-primary">Adicionar</button>
</form>
</div>
                `,
                data(){
                    return{
                           checked: false
                    }
                },
                methods:{
                    
                },
                mounted () {
                    
                }
            })
        </script>
    </body>
</html>
