<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>invocador</title>
    </head>
    <body>
        <div id="body"></div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            new Vue({
                el: '#body',
                template: `
                <div class="container">


  <div class="form-group">
    <label>Nome do produto</label>
    <input type="text" v-model="td.nome" :class="{ 'form-control': backgrounds[0].isActive, 'is-invalid': backgrounds[0].hasError }" placeholder="Nome">
  </div>
  <div class="form-group">
    <label>Quantidade</label>
    <input type="text" v-model="td.quantidade" :class="{ 'form-control': backgrounds[1].isActive, 'is-invalid': backgrounds[1].hasError }" placeholder="Quantidade de produtos">
  </div>
  <div class="form-group">
    <label>Quantidade minima</label>
    <input type="text" v-model="td.quantidadem" :class="{ 'form-control': backgrounds[2].isActive, 'is-invalid': backgrounds[2].hasError }" placeholder="Quantidade minima do produto">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" v-model="checked" class="form-check-input">
    <label class="form-check-label" for="exampleCheck1">Alimento perecivel</label>
  </div>
  <div class="form-group" v-if="checked">
    <label>Vencimento</label>
    <input type="date" v-model="td.venci" :class="{ 'form-control': backgrounds[3].isActive, 'is-invalid': backgrounds[3].hasError }" placeholder="Data">
  </div>
  <div class="form-group">
    <label>Preço</label>
    <input type="text" v-model="td.preco" :class="{ 'form-control': backgrounds[4].isActive, 'is-invalid': backgrounds[4].hasError }" placeholder="000,00">
  </div>
  <button v-on:click="mandar()" class="btn btn-primary">Adicionar</button>

</div>
                `,
                data(){
                    return{
                           checked: false,
                           backgrounds:[{isActive: true,
                            hasError:false}
                             ,
                             {
                               isActive: true,
                              hasError:false
                            },
                            {
                              isActive: true,
                              hasError:false
                            },
                            { 
                              isActive: true,
                              hasError:false
                            },
                            {
                              isActive: true,
                              hasError:false
                            }
                           ],
                           td:{
                            nome:'',
                            quantidade:'',
                            quantidadem:'',
                            venci:'',
                            preco: '',
                            funcionalidade: ''
                           }
                    }
                },
                methods:{
                    mandar(){
                      erro = false;
                      //nome
                      if(this.td.nome == ''){
                        this.backgrounds[0].hasError = true;
                        erro = true;
                      }else{
                        this.backgrounds[0].hasError = false;
                      }

                      //quantidade
                      if(this.td.quantidade == ''){
                        this.backgrounds[1].hasError = true;
                        erro = true;
                      }else{
                        this.backgrounds[1].hasError = false;
                      }

                      //quantidade minima
                      if(this.td.quantidadem == ''){
                        this.backgrounds[2].hasError = true;
                        erro = true;
                      }else{
                        this.backgrounds[2].hasError = false;
                      }

                      //vencimento
                      if(this.td.venci == '' && this.checked == true){
                        this.backgrounds[3].hasError = true;
                        erro = true;
                      }else if(this.checked == false){
                        this.backgrounds[3].hasError = false;
                        this.td.venci = '';
                      }else{
                        this.backgrounds[3].hasError = false;
                      }

                      //preço
                      if(this.td.preco == ''){
                        this.backgrounds[4].hasError = true;
                        erro = true;
                      }else{
                        this.backgrounds[4].hasError = false;
                      }

                      if(erro == false){
                        this.td.funcionalidade = 'cadastrar';
						axios.post('http://localhost:8080/tcc1/post.php',this.td)
            .then(response => {
              console.log(response)
              this.td.funcionalidade = '';
            })
						.catch(e => {})
            }
            }
                },
                mounted () {
                    
                }
            })
        </script>
    </body>
</html>
